html,body{
	height:98%;
}
body{
	font-size:1em;
}

/*###### PAGE #####*/
@PAGE landscape {size: landscape;}
@page rotated { size : landscape }

/*###### LINK #####*/
a:link, a:visited, a:active  {
	opacity:1;
	text-decoration:none;
}
a:hover   {
	opacity:1;
	color:#cd6f00;
}

/*###### TABLES #####*/
/*
TABLE {PAGE: landscape;} 
table, tr, td , th{
	font-size:small;
	padding:0px;
	margin:0;
	text-align:right;
	border:1px solid #000000;
	border-collapse: collapse;
	margin-left:0.5em;
}
*/


/*
td{
	border:1px solid #000000;
}
*/

/*
th{
	padding-left:4px;
	padding-right:4px;
	font-weight:bold;
	text-align:left;
}
*/
.titleTable{
	width:100%;
}

.titleTable td{
	text-align:center;

	font-size:2em;
	font-weight:bold;
	background-color: #eaeaea;
	margin:0px;
	padding:0px;
}

/*###### VARIE #####*/
/*
hr{
	margin-top:150px;
}
*/
.columns {
	-moz-column-count:2;
	column-count:2;
}

.tableContainer {
	float:left;
	width:10.5em;
	padding:0.2em;
}
.righe, .righe tr, .righe td,  .righe th{
	font-size:small;
	padding:0px;
	margin:0;
	text-align:right;
	border:1px solid #000000;
	border-collapse: collapse;
	margin-left:0.5em;
}

/*
form label{
	display:block;
	font-weight:bold;
	width:15 em;
}
*/

/*###### CUSTOM #####*/
.n, .N {
	color:red;
}
.totali{
	 font-size:1.5em;
}
.rimanenze, .rimanenze tr, .rimanenze td, .rimanenze th{
	font-size:small;
	padding:0px;
	margin:0;
	text-align:right;
	border:1px solid #000000;
	border-collapse: collapse;
	margin-left:0.6em;
}
.rimanenze{
width:96%;
}
.rimanenze td{
	height:1.5em;
	width:2em;
	text-align:left;
}

.spacedTable td{
	padding:0.2em;
	padding-left:0.8em;
	padding-right:0.8em;
	font-size:1.1em;
	text-align:left;
}

.borderTable, .borderTable td {
	border:1px solid #000000;
	border-collapse: collapse;
}

.alternateTable tr:nth-child(odd) {
	background-color: #d5d5d5;
}
.alternateTable tr:nth-child(even) {
	background-color: #ffffff;
}


.smallFontTable, .smallFontTable tr, .smallFontTable th, .smallFontTable td{
	font-size:0.88em;
}



/*###### SPINNER #####*/
@keyframes spinner {
    to {transform: rotate(360deg);}
}
 
@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}
 
.spinner {
    min-width: 24px;
    min-height: 24px;
}
 
.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 1em;
    left: 1em;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    margin-left: -10px;
}
 
.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .3);
    border-top-color: rgba(0, 0, 0, .6);
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}
#infobox {
    padding: 0.5em;
    padding-left: 2em;
    position: fixed;
    background-color: rgba(156, 188, 203, 1);
    opacity: 0.9;
    border-radius: 0.5em;
    border-color: #216EB1;
    border: 2px solid rgba(6, 94, 150, 1);

}
.hidden{
	display: none;
	visibility: hidden;
}

.fixedTopBar{
width:100%;
position:fixed;
background:grey;
border-bottom:2px solid black;
padding:0.5em;
margin:-1em;
}
.fixedTopBar button{
font-size:1.5em;
}
.fixedTopRightBar{
width:30%;
position:fixed;
background:grey;
border-bottom:2px solid black;
padding:0.5em;
margin:-1em;
right:0px;
}
.fixedTopRightBar label{
width: 5em;
display: inline-block;
}


